.insta_gallery {
  &_title {
    @extend .new_collection_title;
    font-size: 2rem;
  }
  &_link {
    text-transform: uppercase;
    font-weight: $fontMedium;
    font-size: $minSize;
    color: $red;
  }
  .myImage {
    transition: 0.4s all;
    &:hover {
      opacity: 0.5;
    }
  }
}
