.cart_body_header {
  &_links {
    display: flex;
    a {
      color: $grey !important;
      font-size: $minSize;
      font-weight: 500;
      margin-right: 5px;
      text-transform: capitalize;
    }
    p {
      margin-left: 5px;
      font-size: $minSize;
      font-weight: 500;
      transition: 0.4s all;
      text-transform: capitalize;
      &:hover {
        color: $grey !important;
      }
    }
  }
  &_title {
    margin-top: 30px;
    font-family: $dmFont;
    font-weight: 400;
    text-transform: capitalize;
    font-size: $large + 0.8;
    color: $fontBlack;
  }
}

.cart_table {
  > p {
    font-size: $minSize - 0.2;
    text-transform: uppercase;
    font-weight: $fontMedium;
    margin-bottom: 15px;
  }
  .cart_list_image {
    @include mediaQuery($md) {
      width: 100%;
    }
  }
  &_header {
    width: 100%;
    display: flex;
    padding: 16px;
    background-color: #fafafa;
    div {
      font-size: $minSize;
      text-transform: uppercase;
      font-weight: $fontMedium;
      @include mediaQuery($md) {
        font-size: $minSize - 0.15;
      }
    }
    &_products {
      flex: 4;
    }
    &_price {
      flex: 1.5;
    }
    &_quantity {
      flex: 1.5;
    }
    &_total {
      flex: 1.5;
      @include mediaQuery($sm) {
        display: none;
      }
    }
    &_remove {
      flex: 0.5;
    }
  }
}
.cart_table_details {
  display: flex;
  &_products {
    display: flex;
    flex: 4;
    &_image {
      img {
        width: 100px;
        @include mediaQuery($md) {
          width: 50px;
        }
      }
    }
    &_info {
      padding: 10px;
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .cart_product_name {
        width: calc(100% - 30px);
        font-size: $minSize + 0.05;
        font-weight: bold;
        color: $fontBlack;
        text-transform: capitalize;
        @include mediaQuery($md) {
          font-size: $minSize - 0.15;
          width: calc(100%);
        }
        @include mediaQuery($sm) {
          font-size: $minSize - 0.25;
        }
      }
      .cart_product_size_color {
        display: flex;
        p {
          color: $grey;
          font-size: $minSize;
          text-transform: uppercase;
          @include mediaQuery($md) {
            font-size: $minSize - 0.15;
          }
          @include mediaQuery($sm) {
            font-size: $minSize - 0.25;
          }
        }
      }
      .cart_product_brand {
        p {
          color: $fontBlack;
          font-weight: bold;
          font-size: $minSize;
          text-transform: uppercase;
          @include mediaQuery($md) {
            font-size: $minSize - 0.15;
          }
        }
      }
    }
  }
  &_price {
    flex: 1.5;
    display: flex;
    align-items: center;
    color: $fontBlack;
    font-weight: bold;
    font-size: $minSize;
    text-transform: uppercase;
    @include mediaQuery($md) {
      font-size: $minSize - 0.15;
    }
  }
  &_quantity {
    flex: 1.5;
    display: flex;
    align-items: center;
    input {
      width: 50%;
      @include mediaQuery($md) {
        width: 70%;
      }
    }
  }
  &_total {
    flex: 1.5;
    display: flex;
    align-items: center;
    color: $fontBlack;
    font-weight: bold;
    font-size: $minSize;
    text-transform: uppercase;
    @include mediaQuery($sm) {
      display: none;
    }
    @include mediaQuery($md) {
      font-size: $minSize - 0.15;
    }
  }
  &_remove {
    flex: 0.5;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: $lightGrey;
    }
  }
}

.order_summary {
  &_title {
    p {
      color: $fontBlack;
      font-weight: 900;
      font-size: $minSize;
      text-transform: uppercase;
      @include mediaQuery($md) {
        font-size: $minSize - 0.15;
      }
      @include mediaQuery($md) {
        font-size: $minSize - 0.25;
      }
    }
  }
  &_sub {
    display: flex;
    justify-content: space-between;
    @include mediaQuery($md) {
      font-size: $minSize;
    }
    @include mediaQuery($md) {
      font-size: $minSize;
    }
    p {
      color: $fontBlack;
      font-weight: bold;
      font-size: $minSize + 0.062;
      text-transform: capitalize;
      @include mediaQuery($md) {
        font-size: $minSize;
      }
      @include mediaQuery($md) {
        font-size: $minSize;
      }
    }
  }
  &_comment {
    p {
      color: $fontBlack;
      font-weight: 700;
      font-size: $minSize;
      text-transform: capitalize;
      margin-bottom: 10px;
      @include mediaQuery($md) {
        font-size: $minSize - 0.15;
      }
      @include mediaQuery($md) {
        font-size: $minSize - 0.25;
      }
    }
    textarea {
      width: 100%;
      border-color: $grey;
      padding: 0.5rem;
      font-size: $minSize;
      @include mediaQuery($md) {
        font-size: $minSize - 0.15;
      }
      @include mediaQuery($md) {
        font-size: $minSize - 0.25;
      }
    }
  }
  &_location {
    p {
      color: $fontBlack;
      font-weight: 700;
      font-size: $minSize;
      text-transform: capitalize;
      margin-bottom: 10px;
      @include mediaQuery($md) {
        font-size: $minSize - 0.15;
      }
      @include mediaQuery($md) {
        font-size: $minSize - 0.25;
      }
    }
    button {
      margin-top: 15px;
      width: 100%;
      font-weight: bold;
      font-size: $minSize;
      @include mediaQuery($md) {
        font-size: $minSize - 0.15;
      }
      @include mediaQuery($md) {
        font-size: $minSize - 0.25;
      }
    }
  }
  &_total {
    display: flex;
    justify-content: space-between;
    p {
      text-transform: uppercase;
      font-size: $minSize + 0.12;
      font-weight: 700;
      @include mediaQuery($md) {
        font-size: $minSize - 0.15;
      }
      @include mediaQuery($md) {
        font-size: $minSize - 0.25;
      }
    }
  }
  button {
    &.proceed {
      color: white;
      background-color: $darkBlue;
      &:hover {
        color: $darkBlue;
        background-color: white;
      }
    }
    margin-top: 15px;
    width: 100%;
    font-weight: bold;
    font-size: $minSize;
    @include mediaQuery($md) {
      font-size: $minSize - 0.15;
    }
    @include mediaQuery($md) {
      font-size: $minSize - 0.25;
    }
  }
}
