.filter_Product_col {
  @include mediaQuery($md) {
    visibility: hidden;
    transform: translateX(-600px);
    transition: all 0.5s;
    background-color: white;
    top: 0;
    left: 0;
    &.active {
      visibility: visible;
      overflow-y: scroll;
      z-index: 999999;
    }
  }
  @include mediaQuery($xl) {
    visibility: hidden;
    position: fixed;
    top: 0;
    background-color: white;
    left: 0;
    transform: translateX(-600px);
    transition: all 0.5s;
    width: 80%;
    height: 100vh;
    overflow-y: scroll;
    z-index: 999999;
    &.active {
      visibility: visible;
      transform: translateX(0);
    }
  }
}
