* {
  margin: 0px;
  font-family: "Overpass", arial, sans-serif;
  color: $fontBlack;
  padding: 0;
}
a {
  text-decoration: none !important;
  color: $fontBlack !important;
}
p {
  margin: 0;
  padding: 0;
}
@for $var from 1 to 7 {
  h#{$var} {
    margin: 0px;
    padding: 0px;
  }
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $grey;
  opacity: 0.6;
  display: none;
  z-index: 99;
}
.overlay.active {
  display: block;
}
select.form-control {
  outline: none;
  border-radius: 0px;
  border-color: $lightGrey;
  font-size: $minSize;
  color: $newGrey;
  height: 40px;
  &:focus {
    border-color: $lightGrey;
    outline: none;
    box-shadow: none;
  }
  option {
    text-transform: capitalize;
    font-weight: $fontNormal;
    font-size: $minSize;
    line-height: 24px;
    text-transform: capitalize;
    color: $newGrey;
    margin-right: 10px;
  }
}

button {
  &:focus {
    border: none;
    outline: none;
  }
  text-transform: uppercase;
  background-color: $white;
  font-weight: 300;
  font-size: 18px;
  padding: 15px 40px;
  color: $darkBlue;
  border: none;
  transition: 0.4s all;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  &:hover {
    background-color: $darkBlue;
    color: $white;
  }
}

.line {
  text-decoration: none;
  list-style: none;
  position: relative;
  cursor: pointer;
  &::after {
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    background-color: black;
    transition: 0.4s all;
  }
  &:hover::after {
    width: 100%;
  }
}

.flex {
  display: flex;
  &-col-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  &-jc-c {
    display: flex;
    justify-content: center;
  }
  &-jc-sp {
    display: flex;
    justify-content: space-between;
  }
  &-ai-c {
    display: flex;
    align-items: center;
  }
  &-col {
    display: flex;
    flex-direction: column;
  }

  &-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

input {
  padding: 10px;
  font-size: $minSize;

  outline: none;
  box-shadow: none;
  border: 1px solid $grey;
}
