* {
  font-family: "Overpass", sans-serif;
}

.header {
  padding: 10px 0px;
  .logo {
    font-family: $dmFont;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    span {
      font-family: $dmFont;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      color: $grey;
      font-weight: 600;
    }
  }
  @include mediaQuery($xl) {
    display: none;
  }
  &__flash__button {
    padding: 5px 60px;
    font-weight: $fontBold;
    border: 1px solid $red;
    @extend .flex-center;
    @extend .flex-col;
    p {
      &:first-child {
        font-weight: $fontBold;
      }
      text-transform: uppercase;
      font-weight: $fontlight;
      color: $red;
      font-size: $minSize;
    }
  }
  &__icons {
    @extend .flex-center;
    margin-left: 20px;
    p {
      margin-left: 20px;
      font-size: $minSize;
    }
  }
}
