/* .list_slider_image {
  position: relative;
  button {
    position: absolute;
    bottom: 10%;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    transform: translateX(-50%);
    left: 50%;
    width: 220px;
    transition: 0.4s all;
    text-transform: uppercase;
  }
  .imageHover {
    position: absolute;
    z-index: 99;
    right: 0;
    opacity: 0;
    transition: 0.4s all;
  }
  &:hover {
    .imageHover {
      opacity: 1;
    }
  }

  .list_slider_Product_color {
    img {
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }
    img.active {
      border: 1px solid black;
    }
  }
  &:hover {
    button {
      visibility: visible;
      opacity: 1;
    }
  }
}
 */

.product_cart_overley_link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  z-index: 999999;
}
