$darkBlue: #293355;
$red: #ba7a2d;
$fontBlack: #202020;
$fontheighBlack: #232323;
$white: #ffffff;
$grey: #c1c1c1;
$lightGrey: #e6e6e6;
$newGrey: #505050;
//fontfamilly
$dmFont: "DM Serif Display", serif;
//font
$fontBold: 900;
$fontlight: 400;
$fontNormal: 500;
$fontMedium: 700;
//Size
$minSize: 0.875rem;
$meduim: 1rem;
$large: 1.2rem;
//breakpoint
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
