@import "variables";
@import "global";
@import "mixin";
@import "../component/Home/Header/header";
@import "./../component/Home/SmallBanner/SmallBanner";
@import "../component/home/MainSlider/MainSlider";
@import "../component/home/ListSliderContainer/ListSliderContainer";
@import "../component/home/ListSlider/ListSlider";
@import "../component/home/Menu/menu";
@import "../component/home/SwiperSlider/swiper";
@import "../component/home/BigBanner/BigBanner";
@import "../component/home/ExploreSection/exploreSection";
@import "../component/home/FeaturedProduct/featuredProducts";
@import "../component/home/CollectionProducts/collectionProducts";
@import "../component/home/ContactSection/contactSection";
@import "../component/home/NewCollection/newCollection";
@import "../component/home/AboutUs/aboutUs";
@import "../component/home/InstagramGallery/instagramGallery";
@import "../component/home/NewsSignup/newsSignup";
@import "../component/home/Footer/footer";
@import "../component/home/InfoBanner/InfoBanner";
@import "../component/CategorySearch/Banner/banner";
@import "../component/CategorySearch/JumpTo/JumpTo.scss";
@import "../component/CategorySearch/SortBy/sortBy";
@import "../component/CategorySearch/FilterAndProducts/FilterAndProducts";
@import "../component/CategorySearch/FilterProduct/FilterProduct";
@import "../component/CategorySearch/ProductList/productList";
@import "../component/Home/CartSection/cartSection";
@import "../component/SingleProduct/ProductDetals/ProductDetails";
@import "../component/SingleProduct/ProductInfo/ProductInfo";
@import "../component/SingleProduct/AccordionMenu/accordionMenu";
@import "../component/SingleProduct/CustumerReview/CustumerReview";
@import "../component/SignUp/signUpForm";
@import "../component/Modal/ellaModal";
@import "../component/Home/Menu/categoryList";
@import "../component/SignIn/signIn";
@import "../component/Cart/cartBody";
