.swiper-button-next {
  position: absolute;
  top: 50% !important;
  right: 0px !important;
  background: #8c8c8c;
  margin-top: 0 !important;
  margin-right: -155px;
  display: flex;
  justify-content: center;
  height: 40px !important;
  align-self: center;
  align-items: center;
  width: 70px !important;
  transform: translateY(-50%) !important;
  color: black !important;
  margin-bottom: 5px;
  border-radius: 8px;
  box-shadow: -2px 2px 4px 2px rgba(0, 0, 0, 0.4);
  background-image: url(../../../assents/arrow.png) !important;
  @include mediaQuery(1600px) {
    margin-right: -75px;
  }
  @include mediaQuery($xxl) {
    margin-right: 0px;
  }
}
.swiper-button-next::after {
  content: " \2192" !important;
  font-weight: 900;
  font-size: 20px;
  color: white;
  margin-bottom: 5px;
}
.swiper-button-prev::after {
  content: " \2190" !important;
  margin-bottom: 5px;
  font-weight: 900;
  font-size: 20px;
  color: white;
}
/* 2190 */
.Cswiper {
  position: relative;
}

.swiper-button-prev {
  color: black !important;
  position: absolute;
  top: 50% !important;
  left: 0px !important;
  margin-top: 0 !important;
  margin-left: -155px;
  background: #8c8c8c;
  height: 40px !important;
  transform: translateY(-50%) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px !important;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  @include mediaQuery(1600px) {
    margin-left: -75px;
  }
  @include mediaQuery($xxl) {
    margin-left: 0px;
  }
}
.swiper-container {
  position: unset !important;
  width: 100%;
  @include mediaQuery($xxl) {
    width: 80%;
  }
}
